`relativeRef` should prefer UTF-8 for percent encoding

## Proposed comment

DID Parameters
https://www.w3.org/TR/did-resolution/#did-parameters

> A relative [URI](https://www.w3.org/TR/did-resolution/#dfn-uri) reference according to [RFC3986 Section 4.2](https://www.rfc-editor.org/rfc/rfc3986#section-4.2) that identifies a [resource](https://www.w3.org/TR/did-resolution/#dfn-resources) at a [service endpoint](https://www.w3.org/TR/did-resolution/#dfn-service-endpoints), which is selected from a [DID document](https://www.w3.org/TR/did-resolution/#dfn-did-documents) by using the service parameter. If present, the associated value MUST be an [ASCII string](https://infra.spec.whatwg.org/#ascii-string) and MUST use percent-encoding for certain characters as specified in [RFC3986 Section 2.1](https://www.rfc-editor.org/rfc/rfc3986#section-2.1).

The above requirement doesn't specify a specific character encoding to be used when percent-encoding disallowed characters. Specifying that UTF-8 must be used would help interoperability. If the goal is to allow **_any_** octets to be transmitted, this should be made clear. 

Note that the text does not say what the "certain characters" are. 3986 2.1 only specifies the percent-encoding mechanism, not what the characters are. A casual reader might assume that only **ASCII** characters are permitted, with the percent encoding reserved for problem characters like `=` that are also ASCII.


## Instructions: 

This follows the process at https://w3c.github.io/i18n-activity/guidelines/review-instructions.html

1. Create the review comment you want to propose by replacing the prompts above these instructions, but **LEAVE ALL THE INSTRUCTIONS INTACT** 

2. **Add one or more t:... labels. These should use ids from [specdev](https://w3c.github.io/bp-i18n-specdev/) establish a link to that doc.**

2. Set a label to identify the spec: this starts with s: followed by the spec's short name. If you are unable to do that, ask a W3C staff contact to help.

3. Ask the i18n WG to review your comment.

4. After discussion with the i18n WG, raise an issue in the repository of the WG that owns the spec. Use the text above these instructions as the starting point for that comment, but add any suggestions that arose from the i18n WG. In the other WG's repo, add an 'i18n-needs-resolution' label to the new issue. If you think any of the participants in layout requirements task force groups would be interested in following the discussion, add also the appropriate i18n-\*lreq label(s).

5. Delete the text below that says 'url_for_the_issue_raised', then add in its place the URL for the issue you raised in the other WG's repository. Do NOT remove the initial '§ '. Do NOT use \[...](...) notation – you need to delete the placeholder, then paste the URL.

6. Remove the 'pending' label, and add a 'needs-resolution' tag to this tracker issue. 

7. If you added an \*lreq label, add the label 'spec-type-issue', add the corresponding language label, and a label to indicate the relevant typographic feature(s), eg. 'i:line_breaking'. The latter represent categories related to the Language Enablement Index, and all start with i:.

8. Edit this issue to **REMOVE ALL THE INSTRUCTIONS & THE PROPOSED COMMENT**, ie. the line below that is '---' and all the text before it to the very start of the issue.

---


**This is a tracker issue.** Only discuss things here if they are i18n WG internal meta-discussions about the issue. **Contribute to the actual discussion at the following link:**


§ url_for_the_issue_raised
