Prefer 3339 to RFC1123/RFC822 date-time?

## Proposed comment

Keywords and text strings
https://www.w3.org/TR/2022/WD-png-3-20221025/#11keywords

> For the Creation Time keyword, the date format defined in section 5.2.14 of RFC 1123 is suggested, but not required [[rfc1123](https://www.w3.org/TR/2022/WD-png-3-20221025/#bib-rfc1123)].

The definition for the creation time format pointed to above is effectively an errata on RFC822. RFC822's format is not a paragon of internationalization. I18N generally prefers RFC3339 `date-time` as it is unambiguous and not tied to a specific language (English). Recent extensions used by some standards (but not yet codified as far as I can tell in an RFC) add serialization of the IANA time zone name which is superior to the use of offsets (and very very superior to the three letter codes).

Please consider replacing this recommendation with the use of 3339's format, possibly with extensions. You can still mention the RFC1123/RFC822 format as well. 

For reference: https://www.rfc-editor.org/rfc/rfc822#section-5.1

## Instructions: 

This follows the process at https://w3c.github.io/i18n-activity/guidelines/review-instructions.html

1. Create the review comment you want to propose by replacing the prompts above these instructions, but **LEAVE ALL THE INSTRUCTIONS INTACT** 

2. Set a label to identify the spec: this starts with s: followed by the spec's short name. If you are unable to do that, ask a W3C staff contact to help.

3. Ask the i18n WG to review your comment.

4. After discussion with the i18n WG, raise an issue in the repository of the WG that owns the spec. Use the text above these instructions as the starting point for that comment, but add any suggestions that arose from the i18n WG. In the other WG's repo, add an 'i18n-needs-resolution' label to the new issue. If you think any of the participants in layout requirements task force groups would be interested in following the discussion, add also the appropriate i18n-\*lreq label(s).

5. Delete the text below that says 'url_for_the_issue_raised', then add in its place the URL for the issue you raised in the other WG's repository. Do NOT remove the initial '§ '. Do NOT use \[...](...) notation – you need to delete the placeholder, then paste the URL.

6. Remove the 'pending' label, and add a 'needs-resolution' tag to this tracker issue. 

7. If you added an \*lreq label, add the label 'spec-type-issue', add the corresponding language label, and a label to indicate the relevant typographic feature(s), eg. 'i:line_breaking'. The latter represent categories related to the Language Enablement Index, and all start with i:.

8. Edit this issue to **REMOVE ALL THE INSTRUCTIONS & THE PROPOSED COMMENT**, ie. the line below that is '---' and all the text before it to the very start of the issue.

---


**This is a tracker issue.** Only discuss things here if they are i18n WG internal meta-discussions about the issue. **Contribute to the actual discussion at the following link:**


§ url_for_the_issue_raised


WG issue closed. The spec now prefers RFC 3339.

Changes: https://github.com/w3c/PNG-spec/pull/289/files