Locale references to BCP47 and CLDR

https://www.w3.org/Mail/flatten/index?subject=https%3A%2F%2Flists.w3.org%2FArchives%2FPublic%2Fpublic-dwbp-comments%2F2016Jul%2F0030.html&list=public-dwbp-comments
## 

original version of comment:

> BP3 obliquely references `dc:language`. It should require IETF BCP 47 and make an informative reference to CLDR.
> 
> Note that Dublic Core's language element was defined to reference RFC3066, which was the current BCP47 when that standard was published. However, BCP 47 has been updated since and the current formulation, while fully compatible with RFC3066, is the preferred reference. 
> 
> In addition, the reference in this document points to [VOCAB-DCAT](https://www.w3.org/TR/vocab-dcat/#Property:catalog_language), which is problematic.


> dc:language

You mean "dct:language"?

> It should require IETF BCP 47 and make an informative reference to CLDR.

Both BCP 47 and CLDR are not available in linked data versions. That is there is no URI for a BCP 47 language tag or for a CLDR entry in the (XML based) CLDR data structure. From my understanding this best practice talks about the usage of URIs to identify language / locales. What could BCP47 / CLDR offer?


Best Practice 3 includes as an example the use of `dct:language` to indicate locale and refers loosely to the need to indicate the language and locale of data values. The standards that embody locale and language identification on the Web (and on the Internet more generally) are IETF BCP 47 [RFC5646/RFC4647](https://tools.ietf.org/html/bcp47) and [CLDR](http://cldr.unicode.org). 

The I18N WG recognizes that these standards do not have a linked data representation currently, but the current representations given as examples in this document are incomplete and have a variety of limitations or problems. This is recognized, for example, by the fact that Dublin Core's language element was defined to reference RFC3066, which was the current BCP47 when that standard was published. However, BCP 47 has been updated since and the current formulation, while fully compatible with RFC3066, is the preferred reference. 

The WG feels that BP3 should include a reference or recommendation to consistently use BCP47 as the standard for language and locale identification and, informatively, to CLDR as the source for both representing specific localized formats and as a reference for specific locale data values. 

Please note that this is in addition to the need to recommend locale-neutral representations[https://github.com/w3c/i18n-activity/issues/187] instead).

Document is a req, and a change was made at https://github.com/w3c/dwbp/commit/889f7a688145cf441a16e9faaa1936d466117c38, so ok to close.